<p style="color: green"><%= notice %></p>

<h1>Users</h1>
<%= turbo_stream_from "users" %>
<%= turbo_frame_tag "users" do %>
  <%= render @users %>
<% end %>

<%= link_to "New user", new_user_path %>
